@model DataAccessLayer.ViewModels.CategoryVM

@{
    ViewData["Title"] = "Index";
}


<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-primary">List of Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn-primary" asp-action="CreateUpdate" asp-controller="Category"><i class="bg-info bi-plus-circle"></i>&nbsp;Create new category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.categories)
        {
        <tr>
            <td>
                @item.ProductName
            </td>
            <td role="group">
                <a asp-action="CreateUpdate" asp-controller="category" asp-route-id="@item.ProductId"><i class="bi bi-pencil-square"></i>Edit</a>
                <a asp-action="Delete" asp-controller="category" asp-rout-id="@item.ProductId"><i class-"bi bi-trash">Delete</i></a>

            </td>
        </tr>
        }
    </tbody>
</table>
    